.alice-carousel__dots-item.__active{
  background: #4e93e6 !important;
}

.alice-carousel__dots-item {
  background: #fff !important;
}

.alice-carousel__next-btn-item {
  color: #4e93e6 !important;
}

.alice-carousel__prev-btn-item {
  color: #4e93e6 !important;
}