@import "../Common/Styles/Sass/variables";
@import "../Common/Styles/Sass/Mixins";

.mainBlock {
  min-height: 100vh;
  @include flex(row, center, center, nowrap);
  background-color: $bgColor;
  padding: 100px 0;
  .container {
    @include container();
    @include flex(row, space-around, center, wrap);

    //.about {
    //  @include flex(column, flex-start, flex-start, nowrap);
    //  color: ghostwhite;
    //  font-family: $titleFontFamily;
    //
    //  h1 {
    //
    //    margin: 0;
    //    background-image: linear-gradient(145deg, #4e93e6, #193f6c);
    //    -webkit-background-clip: text;
    //    -webkit-text-fill-color: transparent;
    //    font-size: 70px;
    //    line-height: 112px;
    //
    //  }
    //  @media screen and (max-width: 1143px){
    //    align-items: center;
    //  }
    //}

    .about {
      @include flex(column, flex-start, flex-start, nowrap);
      width: 90vh;
      font-size: 16px;
      color: ghostwhite;
      font-family: $titleFontFamily;

      @media only screen and (max-width: 1413px) and (min-width: 0px) {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        text-align: center;
      }

      h1 {
        margin-left: -6px;
        text-transform: uppercase;
        background-image: linear-gradient(145deg, #4e93e6, #193f6c);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;

        font-size: $h1;
        line-height: 112px;
        @media only screen and (max-width: 1413px) and (min-width: 0px) {
          font-size: $h3;
          line-height: 49px;
          margin-left: auto;
          margin-right: auto;
        }
      }
      @media screen and (max-width: 1143px) {
        align-items: center;
      }
    }
    .photo {
      position: relative;
      z-index: 1;
      @media screen and (max-width: 1143px){
        margin-top: 50px;
      }
      .image {
        height: 400px;
        width: 300px;
        @include bgSettings();
        background-image: url("../Assets/Images/foto2.jpg");
        background-position: 80% 0;
        @media screen and (max-width: 600px){
          height: 360px;
          width: 260px;
          transition: .5s;
        }
        &:before {
          content: "";
          position: absolute;
          height: 110%;
          width: 105%;
          border: 5px solid $primaryColor;
          left: 15px;
          top: -15px;
          z-index: -1;
        }
      }
    }
  }
}
