@import "../../../Common/Styles/Sass/variables";
@import "../../../Common/Styles/Sass/Mixins";

.default {
  border-radius: 10px;
  @include button(
                  200px, 50px, 30px,
                  20px,  #2f72c2, #e7e6e6,
                  20px, bolder, 1px solid #346297,
                  5px solid transparent, .2s ease-in-out, relative,
                  1);
}

button:hover {
  background-color: #4e93e6;
  color: #fdfdfd;
  outline: 1px solid #4e93e6;
  outline-offset: 3px;

  &:active {
    color: #fdfdfd;
    background-color: #4e93e6;
    width: 90px;
    transition: 1s ease;
  }
}

button:disabled {
  &:active {
    width: 200px;
    background-color: #525655;
    color: grey;
  }

  animation: none;
  transition: none;
  outline: none;
  border: none;
  background-color: #525655;
  width: 200px;
  color: grey;
  opacity: 0.5;
}

.projects {
  border-radius: 10px;
  @include button(
                  40%, 15%, 30px,
                  20px, #525655, ghostwhite,
                  20px, normal, 1px solid #4e93e6,
                  5px solid transparent, .1s ease-in-out, relative,
                  1);
  opacity: 0.6;
}

@media only screen and (max-width: 750px) and (min-width: 0px) {
  .default {
    width: 100px;
  }
}