.project {
    border: 1px solid;
    max-width: 400px;
    width: 100%;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: darkgrey;
    word-break: break-word;
}

.description {
    background-color: antiquewhite;
    margin-top: 0;
    word-break: break-word;
}

.imgContainer {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
