.project {
    width: 400px;
    background-color: orange;
    display: flex;
    flex-direction: column;
}

.icon {
    height: 400px;
    width: 400px;
    background-color: antiquewhite;
}

.elements {
    margin: 30px;
}

.title {
    background-color: darkgrey;
}

.description {
    background-color: antiquewhite;
}
