.project {
    border: 1px solid;
    width: 400px;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

.icon {
    width: 100%;
    height: 150px;
    background-color: antiquewhite;
}

.title {
    background-color: darkgrey;
}

.description {
    background-color: antiquewhite;
    margin-top: 0;
}
