$textColor: #fff;
$primaryColor: #4e93e6;
$bgColor: #1f1f20;
$bgSecondColor: #252527;
$titleFontFamily: 'Poppins', sans-serif;
$textFontFamily: 'Poppins', sans-serif;
$errorColor: #FF9494;
$h1: 90px;
$h2: 60px;
$h3: 40px;
$h4: 36px;