.footerBlock {
    padding: 50px 0;
    background-color: burlywood;
}

.footerContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.allIcon {
    border: 1px solid;
    width: 280px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 30px;
}

.icon {
    height: 60px;
    width: 60px;
    background-color: antiquewhite;
}
