@import "../Common/Styles/Sass/variables";

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: $bgSecondColor;
  position: relative;
  z-index: 1;
  padding-bottom: 10px;
  flex-wrap: wrap;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    text-align: center;

    .iconsContainer {
      display: flex;
      flex-wrap: wrap;
      width: 60%;
      flex-direction: row;
      justify-content: center;
      margin-top: 30px;

      img {
        transition: 0.3s;
        height: 70px;
        width: 70px;
      }

      img:hover {
        transform: scale(1.1);
      }

      & a {
        margin: 40px;
        @media only screen and (max-width: 1186px) and (min-width: 0px) {
          margin: 5px;
        }
      }

      @media only screen and (max-width: 1186px) and (min-width: 0px) {
        justify-content: center;
        width: 100%;
      }
    }

    .span {
      margin: 30px;
      color: gray;
    }
  }
}


/*.footerBlock {
    padding: 50px 0;
    background-color: burlywood;
}



.allIcon {
    border: 1px solid;
    width: 280px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 30px;
}

.icon {
    height: 60px;
    width: 60px;
    background-color: antiquewhite;
}*/
