@import "../Common/Styles/Sass/variables";

.block {
  height: 50vh;
  background-color: $bgSecondColor;
  color: ghostwhite;
  position: relative;
  z-index: 1;

  .workContainer {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    word-break: break-word;
    font-family: $textFontFamily;
    font-weight: 400;

    .text {
      padding-bottom: 20px;
    }
  }
}


